# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/

# Variables de entorno (NO subir)
.env
.env.*

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
